@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .hero-banner {
    height: 240px;
    background-color: #0c1a24;
    background-image: linear-gradient(to right, rgba(12, 26, 36, 0.75) 0%, rgba(12, 26, 36, 0.4) 60%, rgba(12, 26, 36, 0.1) 100%),
      url('/images/abstract-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    display: flex;
    align-items: center;
    margin: 0 !important;

    @include media-query-xlarge {
      height: 200px;
    }

    &__wrapper {
      margin: auto;
      width: 90%;

      @include layout-margin(1, $screen-small);
      @include layout-margin(1, $screen-medium);
      @include layout-margin(1, $screen-large);
      @include layout-margin(1, $screen-xlarge);
      @include layout-margin(1, $screen-xxlarge);
      @include layout-margin(1, $screen-xxxlarge);
    }

    &__title-text {
      width: 100%;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      cursor: pointer;
    }

    &__subtitle-text {
      font-weight: 630;
      width: 50%;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.75rem;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;

      @include media-query-medium {
        width: 37.5%;
        -webkit-line-clamp: 2;
      }

      @include media-query-large {
        width: 25%;
      }

      @include media-query-xlarge {
        width: 33%;
      }
    }
  }
}
